.file-card {
  width: 220px;
  &--content{
    &--filename{
      font-weight: 600;
      display: inline-block;
      width: 200px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
    &--upload{
      padding-top: 4px;
      font-size: 10px;
      color: gray;
      font-weight: 400;
      font-style: inherit;
    }
    &--download {
      text-align: center;
      cursor: pointer;
      span{
        font-weight: 600;
      }
    }
    &--file-icon {
      span{
        font-weight: 400;
        font-size: 10px;
        padding-left: 4px;
        color: gray;
      }
    }
  }
}